body {
  font-family: 'Mina', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  width: 460px;
  margin: 10px;
  padding: 10px 10px 1px;
  background: #000000;
}

.video iframe {
  display: block;
  margin: 0 auto;
  width: 460px;
  height: 240px;
  border: none;
}

.video .date {
  margin: 6px 0 0 0;
  text-align: right;
  font-size: 80%;
  color: #cccccc;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
